.cart,
.totalDiscount {
    border-bottom: 1px solid rgba(84, 84, 84, .2);
}

.cart img {
    width: 80px;
    height: 160px;
    border-radius: 16px;
}

.cart .productDetail {
    font-size: 14px;
    background: #fff;
    font-weight: 700;
}

.cart .productDetail p:nth-child(2) {
    color: rgba(178, 180, 181, 0.6);
}

.closeIcon {
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.addIcon,
.subtractIcon {
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.subtractIcon,
.addIcon {
    border: 1px solid rgba(220, 220, 220, 1);
    color: #545454;
}

.subtractIcon:hover,
.addIcon:hover {
    background: rgba(84, 84, 84, 1);
    color: #fff;
    border: none;
}

.addIcon:hover,
.subtractIcon:hover,
.closeIcon:hover {
    transform: scale(1.1);
}

.cartSummary {
    color: #545454;
}

.summaryItem span,
.totalDiscount span,
.netPrice span {
    font-size: 12px;
}

.cart .offPrice {
    color: #545454 !important;
}

.cartSummary button {
    background: #308E63;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.cartSummary button:hover {
    background: #308E63;
    color: #fff;
    transform: scale(1.03);
}

@media only screen and (min-width: 768px) {
    .cart .productDetail {
        font-size: 16px;
    }
}