:root {
    --mainBlack: #545454;
    --mainWhite: #ffffff;
    --mainBackground: linear-gradient(270deg, #308E63 79.76%, rgba(48, 142, 99, 0.55) 151.98%);
    --CTAButtonColor: rgba(2, 83, 39, 0.5);
    --disableButtonColor: #DCDCDC;
}

a {
    text-decoration: none;
}

.navigation {
    background: #308E63;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navigation.scrollNavbar {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: all .3s ease-in-out;
}

.navigation img {
    height: 2.25rem;
    width: 2.5rem;
}

.navigation .plantShopLogo {
    text-align: center;
}

.navigation .plantShopLogo p {
    font-family: Poppins;
    font-style: normal;
    margin-bottom: 0;
}

.navigation .plantShopLogo .plant {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: (var(--mainBlack));
}



.navigation .plantShopLogo .shopping {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: rgba(178, 180, 181, 0.6);
}

.navigation button svg {
    color: var(--mainBackground);
    font-size: 24px;
}

button.navbar-toggler.first-button {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.cartShopping .cartLogo {
    font-size: 1.5rem;
    color: var(--mainWhite);
}

button.navbar-toggler {
    border: none;
}

.cartShopping span {
    background: var(--CTAButtonColor);
    color: var(--mainWhite);
    border-radius: 50%;
    padding: 4px 11px;
    position: relative;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
}

.authentication-button button {
    width: 100%;
    padding: 4px 1rem;
    border-radius: 4px;

}

.userName span {
    color: var(--mainBlack);
}

@media only screen and (max-width: 768px) {
    .authentication-button .loginButton {
        border: solid 1px #eaeaea !important;
    }

}

.authentication-button .loginButton {
    background: none;
    border: none;
    color: var(--disableButtonColor);
    transition: all .3s ease-in-out;
}

.authentication-button .loginButton:hover {
    color: var(--mainWhite);
    background-color: rgba(2, 83, 39, 0.5);
}

.authentication-button .signUp {
    background: var(--CTAButtonColor);
    border: none;
    color: var(--mainWhite);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .3s ease-in-out;
}

.authentication-button .signUp:hover {
    color: var(--CTAButtonColor);
    background: var(--mainWhite);
}

.menuItem a {
    color: var(--disableButtonColor);
    margin: 0 8px;
}

@media only screen and (max-width: 992px) {
    .menuItem a {
        margin: 0
    }
}

.menuItem a:hover {
    color: var(--mainWhite);
}

.menuItem .active {
    color: var(--mainWhite) !important;
    border-bottom: solid 1px #fff;
}

a.dropdown-item {
    color: var(--mainBlack);
}