.specialSaleProductList {
    background: rgba(178, 180, 181, 0.1);
}

.specialSaleProductList button {
    color: #fff;
    font-size: 14px;
    background-color: #545454;
}

.specialSaleProductList button:hover {
    background: #484141;
}

.specialSaleProductList .productCart {
    background: #308E63;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 528px;
    width: 400px;
}

.discountPercent {
    width: 44px;
    height: 58px;
    background: rgba(2, 83, 39, 0.5);
}

.mainPrice del span {
    color: rgba(178, 180, 181, 0.8);
    font-size: 14px;
}

.mainPrice del {
    color: #fff;
}

.specialSaleProductList .popover__content {
    background-color: #545454;
}


.specialSaleProductList .popover__content:before {
    border-color: transparent transparent #545454;
}