.footer {
    border-top: 1px solid rgba(84, 84, 84, .2);
    background: rgba(248, 248, 248, .5);
}

.footerTitle {
    color: #545454;
    font-size: 20px;
}

.footer img {
    height: 2.25rem;
    width: 2.5rem;
}

.footer .plantShopLogo {
    text-align: center;
}

.footer .plantShopLogo p {
    font-family: Poppins;
    font-style: normal;
    margin-bottom: 0;
}

.footer .plantShopLogo .plant {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #545454;
}

.footer .plantShopLogo .shopping {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: rgba(178, 180, 181, 0.6);
}

.footer .navList a {
    color: #545454;
    padding-top: 4px;
    transition: all .2s ease-in-out;
}

.navList ul li {
    margin: 0 16px;
    list-style-type: none;
}

.navList a:hover {
    color: rgba(84, 84, 84, .7);
}

.footer svg {
    border: solid 1px #545454;
    border-radius: 50%;
    padding: 9px 12px 12px;
    margin: 8px;
    font-size: 54px;
    color: #545454;
    transition: all .3s ease-in-out;
}

.footer svg:hover {
    border: none;
    color: #fff;
}

.instagramIcon:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.linkedInIcon:hover {
    background: rgb(10, 102, 194);
}

.faceBookIcon:hover {
    background: rgb(66 103 178);
}

.twitterIcon:hover {
    background: rgb(29, 161, 242);
}

.footerDescription {
    color: #545454;
}