:root {
  --mainBlack: #545454;
}

.App {
  text-align: center;
}

.children {
  margin-top: 5.97rem;
}

.Toastify__close-button.Toastify__close-button--light {
  background: #fff !important;
  color: #545454 !important;
}